<link rel = "import" href = "/bower_components/polymer/polymer.html" />
<link rel = "stylesheet" href = "reset.css" />

<style id = "global" is = "custom-style">
    @font-face
    {
        font-family: Hero;
        src: url(fonts/Hero-Light.otf);
    }

    html
    {
        color: #EDEDED;
        background-color: #000106;
        font-family: Hero;
        font-size: 16px;
        letter-spacing: 1px;
        overflow-x: hidden;
    }

    :root
    {
        --font-size-big-1: 2.8rem;
        --font-size-big-2: 2.4rem;
        --font-size-big-3: 1.9rem;
        --font-size-big-4: 1.6rem;
        --app-palette-dark1: #283593;
        --app-palette-accent: #7986CB;


        --app-transition:
        {
            transition: all 1.2s cubic-bezier(.03,.57,.44,.95);
        }

        --app-transition-delay:
        {
            transition: all 1.2s ease-in 0.4s;
        }

        --app-transition-fast:
        {
            transition: all 0.4s ease-in;
        }

    }

</style>



<style id = "home" is = "custom-style">
    #home
    {
        position: absolute;
        padding: 10px;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #home h1
    {
        @apply(--app-transition);
        padding: 10px;
        font-size: var(--font-size-big-1);
    }

    #home h1 > span
    {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        transition: all 0.4s;
        cursor: pointer;
    }

    #home h1 > span:nth-of-type(2)
    {
        font-size: var(--font-size-big-2);
        margin-top: -8px;
    }

    #home h1 > span:nth-of-type(3)
    {
        font-size: var(--font-size-big-3);
    }

    #home h1 > span:nth-of-type(4)
    {
        font-size: var(--font-size-big-4);
    }

    #home effect-autotype
    {
        color: var(--app-palette-accent);
    }

    /* ========== Add black background on squarer devices ========= */
    @media (min-aspect-ratio: 19/10)
    {
        #home h1
        {
            transform: translate(80px);
        }

        #home h1 > span:hover
        {
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 2%;
            padding-bottom: 2%;
        }
    }

    @media (max-aspect-ratio: 19/10)
    {
        #home h1
        {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
</style>
