<style is = "custom-style">
    :root
    {
        --font-size-big-1: 2.4rem;
        --font-size-big-2: 2.0rem;
        --font-size-big-3: 1.6rem;
        --font-size-big-4: 1.2rem;


        --app-palette-dark: #283593;
        --app-palette-medium: #673a5d;
        --app-palette-accent: #7986CB;
        --app-palette-white: #fcfcfc;
        --app-palette-black: #333333;

        --app-transition-slow:
        {
            transition: all 1.2s cubic-bezier(.03,.57,.44,.95);
        };

        --app-transition-slow-delay:
        {
            transition: all 0.3s ease-in 1.2s;
        };

        --app-transition-fast-delay:
        {
            transition: all 0.3s ease-in 0.3s;
        };

        --app-transition-fast:
        {
            transition: all 0.3s cubic-bezier(.03,.57,.44,.95);
        };
    };
</style>
