<link rel = "import" href = "/bower_components/polymer/polymer.html" />


<script>
    Polymer({

        is: "service-api",

        retrieveAllItems: function()
        {
            return [
                {'type': 'tile-article', 'title': 'Test articlae', 'link': 'dwad3wwaddw'},
                {'type': 'tile-article', 'title': 'Test artibcle', 'link': 'dwad2wwaddw'},
                {'type': 'tile-article', 'title': 'Test ardticle with a really wrong title.', 'link': 'dwad1wwaddw'},
                {'type': 'tile-article', 'title': 'Test article with a really wrong title. Such long Title. Much wow.', 'link': 'dwadwwabddw'},
                {'type': 'tile-article', 'title': 'Test article 2', 'link': 'pdwadwwaddw'}
            ]
        }
    })
 </script>
