<style is = "custom-style">
    #gallery
    {
        position: absolute;
        width: 100vw;
        transition: all var(--app-transition-navigation);
        font-size:0;
    }

    #gallery > *
    {
        font-size: 1rem;
    }

    #gallery.inactive-page
    {
        height: 100vh;
        overflow-y: hidden;
    }

    #gallery.slide-out
    {
        transform: translate(100%);
    }

    #gallery ::content header h2 > span
    {
        opacity: 1;
        transform: rotatex(0) translatey(0);
        transition: all var(--app-transition-accessories);

        display: inline-block;
        white-space: pre;
    }

    #gallery.slide-out ::content header h2 > span
    {
        opacity: 0;
        transform: rotateX(180deg);
    }

    #gallery ::content header tags span
    {
        margin: 0.1rem;
        display: inline-block;
        white-space: pre;
        opacity: 1;
        transform: translatey(0) scale(1);
        transition: all var(--app-transition-accessories-delay);
    }

    #gallery.slide-out ::content header tags span
    {
        opacity: 0;
        transform: translatey(20px);
    }
</style>
