<style is = "custom-style">
    :root
    {
        --font-size-big-1: 2.4rem;
        --font-size-big-2: 2.0rem;
        --font-size-big-3: 1.6rem;
        --font-size-big-4: 1.2rem;


        --app-palette-dark: #283593;
        --app-palette-medium: #673a5d;
        --app-palette-light: #ebf6ff;
        --app-palette-accent: #7986CB;

        --app-palette-white: #fcfcfc;
        --app-palette-black: #333333;

        --app-transition-accessories-delay: 1s cubic-bezier(.04,.56,.38,1) 1.2s;

        --app-transition-accessories: 1s cubic-bezier(.04,.56,.38,1);

        --app-transition-navigation: 1.2s cubic-bezier(.45,.01,0,1);

        --app-transition-zoom: 0.5s cubic-bezier(.45,.01,0,1);
    };
</style>
