<link rel = "import" href = "../../components/behaviour-motion/behaviour-motion.html" />
<link rel = "import" href = "../../components/behaviour-router/behaviour-router.html" />
<link rel = "import" href = "../../components/effect-particle-system/effect-particle-system.html" />


<dom-module id = "application-background">

    <link rel = "import" type = "css" href = "styles.css" />

    <template>

        <video id = "main" autoplay = "autoplay" loop = "true">
            <behaviour-motion factor = '0.4'>
                <behaviour-router page="/" active="on" inactive="off" />
            </behaviour-motion>
            <source src = "videos/background.mp4" type="video/mp4">
            <source src = "videos/background.webm" type="video/webm">
        </video>

        <video id = "background-filler">
            <source src = "videos/smaller.mp4" type="video/mp4">
            <source src = "videos/smaller.webm" type="video/webm">
        </video>

        <effect-particle-system class = "big" number = "8" size = "80" speed = "1.1" color = "#62549C" opacity = "0.07">
            <behaviour-motion factor = '2.8'>
                <behaviour-router page="/" active="on" inactive="off" />
            </behaviour-motion>
            <behaviour-router page="/" active="on" inactive="off" />
        </effect-particle-system>

        <effect-particle-system class = "big" number = "20" size = "20" speed = "1.4" color = "#9874A6" opacity = "0.2">
            <behaviour-motion factor = '2.2' link = "/">
                <behaviour-router page="/" active="on" inactive="off" />
            </behaviour-motion>
            <behaviour-router page="/" active="on" inactive="off" />
        </effect-particle-system>

        <effect-particle-system class = "small" number = "30" size = "3" speed = "2" color = "#ded0b7" opacity = "0.6">
            <behaviour-motion factor = '1.6'>
                <behaviour-router page="/" active="on" inactive="off" />
            </behaviour-motion>
            <behaviour-router page="/" active="on" inactive="off" />
        </effect-particle-system>

        <effect-particle-system class = "small" number = "20" size = "1" speed = "3" color = "#ded0b7" opacity = "0.8">
            <behaviour-motion factor = '1.2' link = "/">
                <behaviour-router page="/" active="on" inactive="off" />
            </behaviour-motion>
            <behaviour-router page="/" active="on" inactive="off" />
        </effect-particle-system>
    </template>

    <script src = "component.js"/></script>

</dom-module>
