<link rel = "import" href = "/bower_components/polymer/polymer.html" />
<script src = "/bower_components/particles.js/particles.js"></script>


<dom-module id = "effect-particle-system">
    <template>
        <content></content>
    </template>
</dom-module>

<script>
    Polymer({

        is: "effect-particle-system",

        properties:
        {
            size: Number,
            speed: Number,
            color: String,
            opacity: Number,
            number: Number,
            mode: String,
        },


        attached: function()
        {
            this.script = null
            var id = this._generateId()
            this.setAttribute('id', id)

            // When the parent is resized with transition,
            // trigger the width
            this.parentNode.addEventListener('transitionend', function(event)
            {
                if (event.srcElement == this.parentNode &&
                    (event.propertyName === 'width' ||
                     event.propertyName === 'height'))
                    window.dispatchEvent(new Event('resize'))
            }.bind(this), false)

            window.addEventListener('load', function()
            {
                if (this.mode !== 'disabled')
                    this.on()
            }.bind(this))
        },

        _generateId: function()
        {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( var i=0; i < 5; i++ )
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return 'id' + (new Date()).getTime() + text
        },

        on: function()
        {
            if (this.script !== null)
            {
                console.warn("Trying to turn on a Particle System that's already on")
                return
            }

            this.script = new particlesJS(this.id,
                {
                  "particles": {
                    "number": {
                      "value": this.number || 30,
                      "density": {
                        "enable": false,
                        "value_area": 800
                      }
                    },
                    "color": {
                      "value": this.color || white
                    },
                    "shape": {
                      "type": "circle",
                      "stroke": {
                        "width": 0,
                        "color": "#000000"
                      },
                      "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                      }
                    },
                    "opacity": {
                      "value": this.opacity,
                      "random": true,
                      "anim": {
                        "enable": false,
                        "speed": 0.5,
                        "opacity_min": 0.05,
                        "sync": true
                      }
                    },
                    "size": {
                      "value": this.size,
                      "random": true,
                      "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                      }
                    },
                    "line_linked": {
                      "enable": false
                    },
                    "move": {
                      "enable": true,
                      "speed": this.speed,
                      "direction": "top",
                      "random": true,
                      "straight": false,
                      "out_mode": "out",
                      "bounce": false,
                      "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                      }
                    }
                  },
                  "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                      "onhover": {
                        "enable": false,
                        "mode": "repulse"
                      },
                      "onclick": {
                        "enable": true,
                        "mode": "repulse"
                      },
                      "resize": true
                    },
                    "modes": {
                      "grab": {
                        "distance": 400,
                        "line_linked": {
                          "opacity": 1
                        }
                      },
                      "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                      },
                      "repulse": {
                        "distance": 80.73394766657411,
                        "duration": 0.4
                      },
                      "push": {
                        "particles_nb": 4
                      },
                      "remove": {
                        "particles_nb": 2
                      }
                    }
                  },
                  "retina_detect": true
                }
            )
        },

        off: function()
        {
            if (this.script === null)
            {
                console.warn("Trying to turn off a Particle System that's already off")
                return
            }
            this.script.pJS.fn.vendors.destroypJS()
            this.script = null
        }
    })
 </script>
