<!doctype html>

<html>

    <head>
        <title> Geckod: Design &#38; Technology </title>
    </head>

    <body>
        <article>

                <a href = "{{hashLink}}" class = "container">
                    <behaviour-zoom link = "{{hashLink}}" zoom-in-class = 'fullscreen'></behaviour-zoom>

                    <header id = "main-header">

                        <div class = "metadata">

                            <behaviour-parallax distance = '0.6'></behaviour-parallax>

                            <div class = "tags">
                                <span>Programming</span><span>Innovation</span>
                            </div>

                            <h2>{{title}}</h2>

                            <div class = "date">
                                23 July 2015
                            </div>
                        </div>

                    </header>

                    <section class = "article-body">
                        I LOooove rock and rool!
                    </section>
                </a>
            </template>

        </article>
    </body>
