<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<dom-module id = "tile-link">

    <link rel = "import" href = "styles.css" type = "css" />

    <template>
        <div class = "image">
            <content select = "img" ></content>
        </div>
        <div class = "background">
            <div class = "icon">
                <i class="fa fa-globe icon fa-2x"></i>
            </div>
            <div class = "content">
                <content select = "h2" ></content>
                <content select = "description"></content>
                <content select = "tags"></content>
            </div>
        </div>
    </template>

    <script src = "component.js"></script>

</dom-module>
