<link rel = "import" href = "../../components/behaviour-router/behaviour-router.html" />

<dom-module id = "application-menu">

    <link rel = "import" type = "css" href = "styles.css" />

    <template>

        <behaviour-router page="/" active="home"></behaviour-router>

        <behaviour-router page="/articles/.*" active="article"></behaviour-router>
        
        <behaviour-router page="/articles/" active="gallery"></behaviour-router>


        <a href = "/articles/">
            <span>
                <i class = "icon"></i>
            </span>
        </a>
    </template>


    <script src = "component.js"></script>

</dom-module>
