<link rel = "import" href = "../../components/behaviour-router/behaviour-router.html" />

<dom-module id = "application-menu">

    <link rel = "import" type = "css" href = "styles.css" />

    <template>

        <behaviour-router page="/" active="on" inactive="off" />

        <a href = "/articles/">
            <span>
                <i class = "icon"></i>
            </span>
            <!--
            <i class="icon icon_home"></i>
        -->
        </a>
    </template>


    <script src = "component.js"></script>

</dom-module>
