:host
{
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 100px;
    transition: all var(--app-transition-navigation);
}

:host.right
{
    right: 0;
    left: 100%;
    margin-left: -100px;
}

:host.left
{
    left: 0;
    right: 100%;
}

:host a
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: inherit;
}

:host span
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;
    border-radius: 100%;
    transition: all var(--app-transition-zoom);
}

:host span.colored
{
    transition: all var(--app-transition-zoom);
    background-color: var(--app-palette-accent);
}

.icon
{
    position: relative;
    display: inline-block;
}

.icon::before,
.icon::after
{
    content: "";
    position: absolute;
}

.icon,
.icon::before,
.icon::after
{
    color: var(--app-palette-white);
    border-color: var(--app-palette-white);
    box-shadow: none;
    border: 0px solid;
    margin: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    transition: all var(--app-transition-zoom);
}

.gallery .icon,
.gallery .icon::before,
.gallery .icon::after
{
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 12px inset, -12px 0 0, 12px 0 0;
}

.gallery .icon
{
    transform: rotate(90deg);
}

.gallery .icon::before
{
    margin-top: -12px;
}

.gallery .icon::after
{
    margin-top: 12px;
}

.home .icon
{
    width:40px;
    height:40px;
}

.home .icon:before
{
    border:20px solid transparent;
    border-bottom-color: var(--app-palette-white);
    border-top:0
}

.home .icon:after
{
    height:10px;
    width:12px;
    top:18px;
    left:6px;
    border:8px solid;
    border-top-width:10px;
    border-bottom:0;
    color: var(--app-palette-white);
}

.colored .icon,
.colored .icon:after,
.colored .icon:before
{
    transition: all var(--app-transition-zoom);
}
