<link rel = "import" href = "../../components/behaviour-motion/behaviour-motion.html" />
<link rel = "import" href = "../../components/behaviour-router/behaviour-router.html" />
<link rel = "import" href = "../../components/tile-article/tile-article.html" />


<dom-module id = "application-gallery">

    <link rel = "import" type = "css" href = "styles.css" />

    <template>

        <behaviour-motion factor = "-1.6" in-class = "test">
            <behaviour-router page = "/articles/.*" active="on" inactive="off" />
        </behaviour-motion>

        <behaviour-router page="/articles/" active="removeInactiveClass" inactive="addInactiveClass"></behaviour-router>

        <content></content>

    </template>

    <script src = "component.js"></script>

</dom-module>
