:host
{
    position: absolute;
    width: 100vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    transition: all var(--app-transition-slow);
}

:host.inactive-page
{
    height: 100vh;
    overflow-y: hidden;
}
