.container ::content main
{
    display: none;

    background-color: var(--app-palette-white);
    color: var(--app-palette-black);
    min-height: 50vh;
    padding: 80px 16% 140px 16%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 160%;
}

.fullscreen ::content main
{
    display: block;
}

::content main p
{
    margin-top: 30px;
}

::content main code
{
    display: block;
    padding: 10px;
    margin-top: 5px;
    font-size: 0.8rem;
    white-space: pre-wrap;
    font-family: monospace;
}

::content main code:first-line
{
    line-height: 0px;
}

::content main q:before,
::content main q:after
{
    content: "\"";
}

::content main h3
{
    font-size: var(--font-size-big-3);
    color: var(--app-palette-dark);
    margin-top: 55px;
    margin-bottom: 20px;
    line-height: initial;
}

::content main h5
{
    margin-bottom: 12px;
    margin-top: 30px;
    font-weight: bold;
}
::content main em
{
    color: var(--app-palette-dark);
    font-weight: bold;
}

::content main a
{
    text-decoration: none;
    color: var(--app-palette-accent);
}

::content main table
{
    font-size: 0.75rem;
    line-height: 120%;
    margin-top: 30px;
}

::content main table th
{
    font-weight: bold;
}

::content main table th,
::content main table td
{
    padding: 4px;
    border: dashed 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
}
