:host
{
    width: 50%;
    height: 300px;
    display: inline-block;
}

.container
{
    width: 100%;
    height: 100%;
    display: block;
    transition: all var(--app-transition-navigation);
}

.container.fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}

.container > a
{
    color: inherit;
    text-decoration: inherit;
}


/* ========= Header ============ */
header
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all var(--app-transition-navigation);
}

.fullscreen header
{
    height: 100vh;
}
/* ========= ==========*/


/* ======== img ========== */
.fullscreen header ::content img
{
    transition: none
}

header ::content img
{
    transition: all var(--app-transition-accessories);
    position: absolute;
    z-index: 0;
    top: 0;
    width: 104%;
}

header:hover ::content img,
.fullscreen header ::content img
{
    width: 100%;
}
/* ======== /img ========== */


/* ======== Metadata ======== */
header .metadata
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 5;
    flex-direction: column;
}

header ::content tags span
{
    padding: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin: 4px;
    color: var(--app-palette-white);
    background-color: var(--app-palette-accent);
}

header ::content h2
{
    margin: 12px 0 12px 0;
    font-size: var(--font-size-big-3);
    transition: all var(--app-transition-navigation);
}

.fullscreen header ::content h2
{
    font-size: var(--font-size-big-1);
}
/* ======== /Metadata ======== */
