:host.article header
{
    background: linear-gradient(135deg,var(--app-palette-dark) 0, var(--app-palette-medium) 100%);
}

:host.article header ::content img
{
    opacity: 0.1;
}

:host.article  header:hover ::content img,
:host.article .fullscreen header ::content img
{
    opacity: 0.25;
}

:host.article header .metadata
{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10% 14%;
}

:host.article header effect-particle-system
{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    top: 0;
    left: 0;

    transition: all var(--app-transition-navigation-delay);
}

:host.article .fullscreen header effect-particle-system
{
    display: block;
    opacity: 1;
}

:host.article header .line
{
    border-top: 1px solid var(--app-palette-accent);
    transition: all var(--app-transition-accessories);
    width: 40%;
    width: 0;
    margin-top: 14px;
}

:host.article header:hover .line,
:host.article .fullscreen header .line
{
    width: 40%;
}



:host.article header ::content time
{
    margin-top: 14px;
    text-align: center;
    font-size: 0.9rem;
}

:host.article .metadata ::content time span
{
    opacity: 0;
    transform: rotateX(90deg);
    transition: all var(--app-transition-accessories);
}

:host.article header:hover ::content time span,
:host.article .fullscreen header ::content time span
{
    opacity: 1;
    transform: rotateX(0);
}
