:host
{
    width: 50%;
    height: 360px;
    display: inline-block;
}

.container
{
    width: 100%;
    height: 100%;
    display: block;
    transition: all var(--app-transition-zoom);
    overflow: hidden;
}

.container.fullscreen
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.container > a
{
    color: inherit;
    text-decoration: inherit;
}







/* ========= Header ============ */
header
{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg,var(--app-palette-dark) 0, var(--app-palette-medium) 100%);
    transition: height var(--app-transition-zoom);
}

.fullscreen header
{
    height: 100vh;
}
/* ========= /Header ==========*/




/* ======== img ========== */
.fullscreen header .cover
{
    transition: none
}

header .cover
{
    transition: all var(--app-transition-accessories);
    position: absolute;
    width: 104%;
    height: 104%;
    opacity: 0.1;

    background-size: cover;
    background-repeat: no-repeat;
}

header:hover .cover,
.fullscreen header .cover
{
    width: 100%;
    height: 100%;
    opacity: 0.25;
}
/* ======== /img ========== */





/* ======== Metadata ======== */
header .metadata
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    transition: height var(--app-transition-zoom);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10% 14%;
    height: 100%;
}

.fullscreen header .metadata
{
    height: 50%;
}

header ::content tags span
{
    padding: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin: 4px;
    color: var(--app-palette-white);
    background-color: var(--app-palette-accent);
}

header ::content h2
{
    font-size: var(--font-size-big-3);
    transition: all var(--app-transition-zoom);
}

:host header ::content time
{
    margin-top: 14px;
    font-size: 0.9rem;
    display: inline-block;
    white-space: pre;
}

:host .metadata ::content time span
{
    opacity: 0;
    transform: rotateX(90deg);
    display: inline-block;
    transition: all var(--app-transition-accessories);
}

:host header:hover ::content time span,
:host .fullscreen header ::content time span
{
    opacity: 1;
    transform: rotateX(0);
}

header .line
{
    border-top: 1px solid var(--app-palette-accent);
    transition: all var(--app-transition-accessories);
    width: 40%;
    width: 0;
    margin-top: 14px;
}

header:hover .line,
.fullscreen header .line
{
    width: 40%;
}
/* ======== /Metadata ======== */


/* ======== Particles ======== */
header particle-system
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all var(--app-transition-zoom);
}
/* ======== /Particles ======== */




/* ======== Content ======== */
.background
{
    width: 100%;
    box-sizing: border-box;
    background-color: #E8EAF6;

    height: 0;
    overflow: hidden;
    transition: all var(--app-transition-zoom);
}

.fullscreen .background
{
    height: auto;
    overflow: visible;
    padding: 0 6% 6% 6%;
}

::content main
{
    background-color: var(--app-palette-white);
    color: var(--app-palette-black);
    transition: all var(--app-transition-zoom);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    line-height: 160%;
    padding: 6% 4%;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.fullscreen ::content main
{
    margin-top: -50vh;
    opacity: 1;
}
/* ======== Content ======== */
