<!-- Google font -->
<link href = 'http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'/>

<!-- Ajax -->
<link rel = "import" href = "../../bower_components/iron-ajax/iron-ajax.html" />

<!-- Mono -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/mono-blue.min.css" />
<script src = "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script src = "../../bower_components/particles/particles.js"></script>



<dom-module id = "tile-article">

    <link rel = "import" type = "css" href = "styles-all.css" />
    <link rel = "import" type = "css" href = "styles-body.css" />

    <template>

        <iron-ajax auto url = "{{apiLink}}" handle-as="json" on-response = "loadBody">
        </iron-ajax>

        <div class = "container">

            <behaviour-zoom zoom-in-class = 'fullscreen' in-transition-class = 'transiting'>
                <behaviour-router
                    page="{{realLink}}"
                    active="zoomIn"
                    inactive="zoomOut">
                </behaviour-router>
            </behaviour-zoom>

            <a href = "{{realLink}}">
                <header id = "main-header">

                    <behaviour-parallax distance = '0.8' scroller = ".container">
                        <behaviour-router page="{{realLink}}" active="on" inactive="off">
                        </behaviour-router>
                    </behaviour-parallax>

                    <div class = "metadata">

                        <content select = "tags"></content>

                        <content select = "h2"></content>

                        <div class = "line"></div>

                        <content select = "time"></content>
                    </div>

                    <content select="img"></content><behaviour-parallax scroller = ".container" bind-to = "sibling" distance = '0.1'>
                        <behaviour-router
                                page="{{realLink}}"
                                active="on"
                                active-delay
                                inactive="off">
                        </behaviour-router>
                    </behaviour-parallax>


                    <particle-system
                        class = "big" number = "60" size = "20" speed = "1.4" color = "#9874A6" opacity = "0.4">
                        <behaviour-router
                                page="{{realLink}}"
                                active="on"
                                inactive="off"
                                active-delay>
                        </behaviour-router>
                    </particle-system>

                    <particle-system
                        class = "small" number = "100" size = "3" speed = "2" color = "#ded0b7" opacity = "0.7">
                        <behaviour-router
                                page="{{realLink}}"
                                active="on"
                                inactive="off"
                                active-delay>
                        </behaviour-router>
                    </particle-system>

                    <particle-system
                        class = "small" number = "140" size = "1" speed = "3" color = "#ded0b7" opacity = "0.9">
                        <behaviour-router
                                page="{{realLink}}"
                                active="on"
                                inactive="off"
                                active-delay>
                        </behaviour-router>
                    </particle-system>
                </header>
            </a>

            <div class = "background">
                <content select = "main"></content>
            </div>
        </div>
    </template>

    <script src = "component.js"></script>
</dom-module>
